/* for file tree */
.jstree .jstree-leaf[type=file] a ins.jstree-icon {
    background: transparent url('file-icon-16.png') no-repeat scroll left center;
    vertical-align: top;
}
.jstree li[root_node] > a > .jstree-checkbox,
.jstree li[type="dir"] > a > .jstree-checkbox {
    display: none;
}

/* for seafile-login-form */
#seafile-login-form {
    padding: 0 5px;
}
.seafile-login-label {
    display: inline-block;
    width: 60px;
}
input.seafile-login-input {
    margin: 3px 0;
}
