<template id="LoginDlgTmpl">
    <form id="seafile-login-form">
        <label class="seafile-login-label">Email:</label>
        <input class="seafile-login-input" type="text" id="seafile_login_dlg_username" /><br />
        <label class="seafile-login-label">Password:</label>
        <input class="seafile-login-input" type="password" id="seafile_login_dlg_password" />
    </form>
</template>
